html {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

footer {
  width:100%;
  background: rgb(245, 245, 245);
  margin-top: auto;
}


nav {
  background: rgb(245, 245, 245);
}

.card-img-top {
  transition:transform 0.25s ease;
  z-index: 0;
}

.card-img-top:hover {
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
  z-index: 1;
  opacity: 0.7;
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin:auto;
  display: block;
  max-width: 800px;
  align-self: center;
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(0, 255, 191);
  border-color:     rgb(0, 255, 191);
}

.btn-primary:hover { 
  background-color: rgb(103, 255, 217);
  border-color:     rgb(103, 255, 217);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: rgb(0, 0, 0)
}

/* ohne vorzeichen -> objekte */
p {
  color: rgb(0, 0, 0);
}

/* klassen -> .*/
.badge {
  background-color: rgb(0, 255, 191)
  ;
}
  /* ID -> #*/
#one {
  color: black;
  font-size: 1em;
  background-color: rgb(0, 255, 191);
}
  

#two {
  color: black;
  text-align: center;
  font-size: 5em;
}

#three {
  color: black
}

#four {
  color: rgb(58, 150, 127);
}

#left-text {
  text-align: left;
}

#center-text {
  text-align: center;
}

#right-text {
  text-align: right;
}
